.dashboardPorter {
  background-color: #fff;
  flex-direction: column;
  align-items: stretch;
  width: 80vw;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.levels {
  flex: 1;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  gap: 7px;
  margin: auto 0;
  padding: 0 16px 0 6px;
  display: flex;
}

.div {
  z-index: 10;
  aspect-ratio: 2.056;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  padding: 163px 70px -17px;
  display: flex;
  position: relative;
  border-color: black;
}

h2,
h1 {
  display: block;
  color: #2f7ea6;
  width: 100%;

  /* margin: 10px; */
}
